oefening-Python-script _aanroepen_vanuit_flow.json
[{"id":"6fe4bc5b.276f84","type":"tab","label":"opdracht 9.1","disabled":false,"info":""},{"id":"32054af9.6d1de6","type":"inject","z":"6fe4bc5b.276f84","name":"Klik hier","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":200,"y":200,"wires":[["f0e8fe30.235e9"]]},{"id":"f0e8fe30.235e9","type":"exec","z":"6fe4bc5b.276f84","command":"python3 /home/pi/node-red_opdrachten/script_0904_LDR_meting.py","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Python LDR meting","x":420,"y":240,"wires":[["4576039.03299fc"],[],[]]},{"id":"4576039.03299fc","type":"debug","z":"6fe4bc5b.276f84","name":"Bericht","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":240,"wires":[]}]