opdracht_flow_led.json
[{"id":"6fe4bc5b.276f84","type":"tab","label":"opdracht 9.1","disabled":false,"info":""},{"id":"aa4c24df.96b328","type":"inject","z":"6fe4bc5b.276f84","name":"aan","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":280,"y":160,"wires":[["404cd2e7.e9e74c"]]},{"id":"c9dbe7e4.449ab8","type":"inject","z":"6fe4bc5b.276f84","name":"uit","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":300,"y":280,"wires":[["404cd2e7.e9e74c"]]},{"id":"404cd2e7.e9e74c","type":"rpi-gpio out","z":"6fe4bc5b.276f84","name":"","pin":"11","set":true,"level":"0","freq":"","out":"out","x":550,"y":180,"wires":[]}]