opdracht_9_6.json
[{"id":"6fe4bc5b.276f84","type":"tab","label":"opdracht 9.1","disabled":false,"info":""},{"id":"5e75ba8e.463734","type":"inject","z":"6fe4bc5b.276f84","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":140,"wires":[["2a030366.9354cc"]]},{"id":"2a030366.9354cc","type":"rpi-ds18b20","z":"6fe4bc5b.276f84","topic":"","array":false,"name":"","x":430,"y":180,"wires":[["9ddfecc1.24e53"]]},{"id":"a6e65a49.43e5d8","type":"debug","z":"6fe4bc5b.276f84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":720,"y":200,"wires":[]},{"id":"9ddfecc1.24e53","type":"function","z":"6fe4bc5b.276f84","name":"","func":"if (msg.payload<21){\n    msg.heater = 1;\n}\nelse {\n    msg.heater = 0;\n}\n\nmsg.toevoeging = \"test\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":280,"wires":[["a6e65a49.43e5d8"]]}]