opdracht_9_5.json
[{"id":"6fe4bc5b.276f84","type":"tab","label":"opdracht 9.1","disabled":false,"info":""},{"id":"c194e69f.5974d8","type":"inject","z":"6fe4bc5b.276f84","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"sensor1\", \"temp\":20}","payloadType":"json","x":100,"y":120,"wires":[["22dcaa6c.944c26"]]},{"id":"8bd9dc20.0fda1","type":"debug","z":"6fe4bc5b.276f84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":140,"wires":[]},{"id":"22dcaa6c.944c26","type":"function","z":"6fe4bc5b.276f84","name":"","func":"if (msg.payload.temp>15){\n    msg.payload=1}\n\nelse {msg.payload=0}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":80,"wires":[["8bd9dc20.0fda1","63c08286.48db7c"]]},{"id":"63c08286.48db7c","type":"rpi-gpio out","z":"6fe4bc5b.276f84","name":"","pin":"12","set":true,"level":"0","freq":"","out":"out","x":650,"y":40,"wires":[]}]